name: Check Outdated Dependencies

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-outdated:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22 ]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm install

    - name: Identify and Report Outdated Dependencies
      run: |
        OUTDATED_OUTPUT=$(npm outdated --long)
        
        echo "$OUTDATED_OUTPUT"
        
        # Check if the output contains any actual outdated packages (lines not starting with 'Package')
        # If such lines exist, it means there are outdated dependencies, and the workflow should fail.
        if echo "$OUTDATED_OUTPUT" | grep -qE '^(?!Package).*$'; then
          echo "::error::Outdated dependencies found. Please review the output above and update them."
          exit 1
        else
          echo "All dependencies are up-to-date."
        fi